In [1]:
import pandas as pd
df=pd.read_csv('/content/marriage.csv')
print(df.shape)
df.head(10)

(2567, 10)

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
0,1,female,"5'4""",NaN,others,Telugu,NaN,London,United Kingdom,21.0
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0
5,6,male,"5'5""",Hindu,Valmiki,Hindi,Sportsman,Delhi,India,29.0
6,7,female,"5'2""",Hindu,Rajput - Lodhi,Hindi,Banking Professional,Jodhpur,India,28.0
7,8,male,"5'5""",Hindu,Bhatia,Punjabi,Entrepreneurs / Business,Faridabad,India,30.0
8,9,female,"5'5""",Jain,Shwetamber,Gujarati,Software Professional,Vadodara,India,35.0
9,10,female,"5'1""",Hindu,Billava,Tulu,HR Professional,Bengaluru / Bangalore,India,32.0

In [2]:
df.isnull().sum()

id                   0
gender              29
height             118
religion           635
caste              142
mother_tongue      164
profession         330
location           155
country             16
age_of_marriage     19
dtype: int64

In [6]:
(df.shape[0] - df.dropna().shape[0])/df.shape[0]

0.24737047136735488

In [8]:
df.dropna(inplace=True)

In [9]:
df.shape

(1932, 10)

In [10]:
df.head(10)

,id,gender,height,religion,caste,mother_tongue,profession,location,country,age_of_marriage
1,2,male,"5'7""",Jain,Shwetamber,Gujarati,Doctor / Healthcare Professional,Fairfax- VA,USA,32.0
2,3,male,"5'7""",Hindu,Brahmin,Hindi,Entrepreneurs / Business,Begusarai,India,32.0
3,4,female,"5'0""",Hindu,Thakur,Hindi,Architect,Mumbai,India,30.0
4,5,male,"5'5""",Christian,Born Again,Malayalam,Sales Professional / Marketing,Sulthan Bathery,India,30.0
5,6,male,"5'5""",Hindu,Valmiki,Hindi,Sportsman,Delhi,India,29.0
6,7,female,"5'2""",Hindu,Rajput - Lodhi,Hindi,Banking Professional,Jodhpur,India,28.0
7,8,male,"5'5""",Hindu,Bhatia,Punjabi,Entrepreneurs / Business,Faridabad,India,30.0
8,9,female,"5'5""",Jain,Shwetamber,Gujarati,Software Professional,Vadodara,India,35.0
9,10,female,"5'1""",Hindu,Billava,Tulu,HR Professional,Bengaluru / Bangalore,India,32.0
11,12,male,"5'9""",Hindu,Brahmin,Bengali,Finance Professional,Suri,India,32.0

In [14]:
x=df.iloc[:,1:-1]
y=df.iloc[:,-1]

In [17]:
from sklearn.preprocessing import LabelEncoder
enc = LabelEncoder()
x.loc[:,['gender','religion','caste','mother_tongue','country']]= \
x.loc[:,['gender','religion','caste','mother_tongue','country']].apply(enc.fit_transform)

In [21]:
int(x.loc[1,'height'].split('\'')[0])*30.48

152.4

In [24]:
int(x.loc[1,'height'].split('\'')[1].replace('\"',''))*2.54

17.78

In [25]:
int(x.loc[1,'height'].split('\'')[0])*30.48+int(x.loc[1,'height'].split('\'')[1].replace('\"',''))*2.54

170.18

In [27]:
def htcm(h):
  return int(x.loc[1,'height'].split('\'')[0])*30.48+int(x.loc[1,'height'].split('\'')[1].replace('\"',''))*2.54

In [28]:
x['height_cms']=x.height.apply(htcm)

In [30]:
x.head()

,gender,height,religion,caste,mother_tongue,profession,location,country,height_cms
1,1,"5'7""",2,34,6,Doctor / Healthcare Professional,Fairfax- VA,19,170.18
2,1,"5'7""",1,14,8,Entrepreneurs / Business,Begusarai,5,170.18
3,0,"5'0""",1,36,8,Architect,Mumbai,5,170.18
4,1,"5'5""",0,13,13,Sales Professional / Marketing,Sulthan Bathery,5,170.18
5,1,"5'5""",1,38,8,Sportsman,Delhi,5,170.18

In [32]:
x.drop('height',inplace=True,axis=1)

In [35]:
x.drop(['profession','location'],inplace=True,axis=1)

In [36]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x,y,random_state=1, test_size=0.2)

In [37]:
from sklearn.ensemble import RandomForestRegressor
model=RandomForestRegressor(n_estimators=80,max_depth=11)
model.fit(xtrain,ytrain)
y_pred=model.predict(xtest)

# Evaluation

In [39]:
from sklearn.metrics import mean_absolute_error, r2_score
print("MAE : ", mean_absolute_error(ytest,y_pred))
r2_score(ytest,y_pred)

MAE :  1.034248084138878

0.6980579704969794

# Export Model

In [40]:
import pickle
# Saving model
pickle.dump(model, open('model.pkl','wb'))
# model=pickle.load(open('model.pkl','rb'))
# print(y_predict)